*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 194, 168, 0.863);
    padding: 0 30px 0 50px;
    height: 80px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
nav ul{
    display: flex;
    
}
ul li{
    list-style-type: none;
    margin: 0 15px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 13px;
    border-radius: 3px;
    color: white;
}
nav ul li a:hover, nav ul li a.active{
    background-color: rgb(196, 182, 182);
}
#check{
    display: none;

}
#menu-btn{
    font-size: 30px;
    display: none;
}
/* responsive website start */
@media only screen and (max-width: 930px) {
    #check:checked ~ ul{
        left: 0%;
    }
    #menu-btn{
        display: block;
    }
    #check:checked ~ #menu-btn i::before{
        content: "\f00d";
    }


    nav ul{
        position: fixed;
        height: 100vh;
        background-color: bisque;
        top: 80px;
        flex-direction: column;
        text-align: center;
        padding-top: px;
        width: 100%;
        padding-top: 20px;
        left: -100%;
        transition: all 0.5s ease;

    }
    nav ul li{
        margin: 30px 0;
        font-size: 20px;
        color: red; 
    }
    nav ul li a:hover{
        color: red;
        background: none;
    }
    nav ul li a{
        background: none;
    }
}
/* header code */
header{
    background-image: url("images/flower_tub.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* main service section code  */
.service-section{
    background-color: darkcyan;
    padding: 30px 0;
}
.service-section > h2{
    text-align: center;
    color: white;
    padding-bottom: 30px;
    letter-spacing: 0.3em;
}
.service-card-parent{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
}
.single-card{
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 7px 7px 7px gray;
    border: 1px solid gold;
    border-radius: 3px;
}
.single-card i{
    font-size: 30px;

}
.single-card h2{
    font-weight: bold;
    padding: 10px 0;
}
@media only screen and (max-width: 688px) {
    .service-card-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}
@media only screen and (min-width: 689px) and (max-width: 1099px) {
    .service-card-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}
